<section class="product__container">
    <div class="product-image_container">
        <img src="">
    </div>
    <div class="product-description__container">
        <h2 class="product__name">Muito bom</h2>
        <h3 class="product__price">R$1000,oo</h3>
        <p>Estoque Dísponível</p>
        <label for="">
            Quantidade:
            <input type="text">
            unidade (s)
        </label>
        <p class="product__avaiability">n10 unidades</p>

        <button>Adicionar o carrinho</button>


    </div>

</section>